section.draft-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background: #000000de;
}

div.number {
    color: rgb(103, 224, 103);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        font-size: 500px;
    }
    80% {
        font-size: 650px;
    }
    100% {
        font-size: 500px;
    }
}