<section class="draft-board-wrapper" [ngClass]="leagueRowHeights">
  <div class="teams-row">
    <span class="corner"></span>
    <div class="team" *ngFor="let team of leagueTeams; let i = index;">
      <img class="team" [src]="team.image_path" />
      <span>{{ team.team_name }}</span>
    </div>
  </div>
  <div class="round-row" *ngFor="let round of draftResults; let i = index;">
    <div class="round-header">
      Round {{ i + 1 }}
    </div>

    <div class="pick" *ngFor="let pick of round" (click)="showPlayerSearch(pick);" [ngClass]="pick.pick.position">
        <div class="pick-meta" *ngIf="!pick.pick.displayName">
          <span>{{ pick.overallPick }}</span>
          <span>({{ pick.round }}.{{ pick.pickNumber }})</span>
        </div>
        <div class="pick-info" *ngIf="pick.pick.displayName">
            <div class="player-name">
                <p>{{ pick.pick.firstName }}</p>
                <p>{{ pick.pick.lastName }}</p>
            </div>
            <div class="pick-team">
                <img class="team" [src]="pick.pick.teamLogo" *ngIf="pick.pick.teamLogo" />
                <span class="position">{{ pick.pick.position }}{{ pick.pick.positionPickRank }}</span>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="draft-details-wrapper">
  <div class="draft-details">
      <div class="logo">
        <img src="assets/images/chadbear-ffl.png">
      </div>

      <app-timer [pickMade]="restartTimer"></app-timer>

      <h3>On The Clock</h3>
      <div class="upcoming-picks">
          <div class="team-drafting" *ngFor="let team of upcomingPicks | slice:0:3; let i = index">
            <img [src]="team.teamLogo" />
            <span>{{ team.team }}</span>
          </div>
      </div>
  </div>
  <div class="controls">
      <button class="start" (click)="startCountdown()">Start Draft</button>
      <button class="pause" (click)="pauseDraft()">Pause Draft</button>
      <button class="clear" (click)="clearDraft()">Clear Draft</button>
  </div>
</section>

<div class="draft-inactive" *ngIf="!draftActive">
  <span *ngIf="!draftStarted">Draft Not Started</span>
  <span *ngIf="draftStarted">Draft Paused</span>
</div>

<div class="player-search" [ngClass]="playerSearchModal" (click)="closePlayerSearch($event)">
    <div class="search-wrapper">
        <input id="player-search" (keyup)="searchPlayers($event)" [(ngModel)]="searchInput" type="text" placeholder="search">

        <ul class="player-list">
          <li *ngFor="let player of searchedPlayers">
            <span class="assign-player" (click)="assignPick(currentPick, player)">{{ player.displayName }} - {{ player.position }} - {{ player.team }}</span>
          </li>
        </ul>
        <div class="delete-pick" *ngIf="showRemovePlayer" (click)="removeSelectedPick(currentPick)">Remove pick</div>
    </div>
</div>

<app-countdown *ngIf="countdownActive" (countdownFinished)="startDraft($event)" ></app-countdown>

