section.draft-board-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

section.draft-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    color: white;
}

div.upcoming-picks {
    width: 100%;
}

div.draft-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.draft-details h3 {
    font-size: 26px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
}

div.team-drafting {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding: 20px;
    text-align: center;
}

div.team-drafting:nth-child(1) {
    background-color: #3d3d3d;
}

div.team-drafting:nth-child(2) {
    font-size: 18px;
}

div.team-drafting:nth-child(3) {
    font-size: 18px;
}

div.team-drafting img {
    border-radius: 50%;
    border: 3px solid white;
    max-width: 120px;
    margin-bottom: 10px;
    display: none;
}

div.team-drafting:first-child img {
    display: block;
}

div.teams-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8.5vh;
}

.corner {
    width: 115px;
}

div.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.7vw;
    border: 1px solid #3d3d3d;
    border-right: none;
    border-bottom: none;
    padding: 15px 10px;
    flex: 1 1 auto;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    height: 100%;
}

div.team:nth-last-child(1) {
    border-right: 1px solid #3d3d3d;
}

div.team img {
    max-width: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid black;
}

section.draft-board-wrapper.rounds14 div.round-row {
    height: 6.53vh;
}

div.round-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5.72vh;
}

div.round-row:nth-child(odd) {
    background-color: #f2f2f2;
}

div.round-row:last-child {
    border-bottom: 1px solid #3d3d3d;
}

div.round-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 100%;
    border: 1px solid #3d3d3d;
    border-right: none;
    border-bottom: none;
}

div.player-search {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(000, 000, 000, .7);
}

div.player-search.active {
    display: flex;
}

div.search-wrapper {
    width: 30%;
    height: 40%;
    background: white;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    position: relative;
}

div.search-wrapper input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 24px;
}

ul.player-list {
    width: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 24px;
}

span.assign-player:hover {
    cursor: pointer;
    color: cornflowerblue;
}

div.pick {
    width: 7.7vw;
    height: 100%;
    border: 1px solid #3d3d3d;
    border-right: none;
    border-bottom: none;
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

div.pick div.player-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 75%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 0 10px;
}

div.pick div.player-name p {
    margin: 0;
}

div.pick-team {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.pick-team img {
    width: 100%;
    margin-bottom: 5px;
}

div.pick.QB {
    background: rgb(255, 255, 107);
}

div.pick.RB {
    background-color: rgb(131, 162, 255);
}

div.pick.WR {
    background: rgb(255, 100, 100);
}

div.pick.TE {
    background: rgb(255, 188, 63);
}

div.pick.DEF {
    background: rgb(35, 153, 35);
}

div.pick:nth-last-child(1) {
    border-right: 1px solid #3d3d3d;
}

div.pick-meta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(146, 146, 146);
}

div.pick-info {
    display: flex;
    align-items: center;
}

div.logo img {
    width: 100%;
}
div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.logo span {
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

div.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.controls button {
    border: none;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

div.controls button.start {
    background-color: #5999ff;
}

div.controls button.pause {
    background-color: #ffe375;
}

div.controls button.clear {
    background-color: #ff5566;
}

div.delete-pick {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

div.draft-inactive {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background: #000000de;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.draft-inactive span {
    font-size: 200px;
    color: white;
}