<section class="draft-board-wrapper">
  <div class="teams-row">
    <div class="team" *ngFor="let team of leagueTeams; let i = index;">
      <span>{{ i + 1 }}</span>
      <span>{{ team.owner }}</span>
      <span>{{ team.team_name }}</span>
    </div>
  </div>
  <div class="round-row" *ngFor="let x of draftRounds; let i of index;">
    <div class="round-header">
      Round {{ x }}
    </div>
    <div class="pick" (click)="showPlayerSearch()">
      {{ selectedPlayer.displayName }}
    </div>
  </div>
</section>

<div class="player-search" [ngClass]="playerSearchModal">
    <div class="search-wrapper">
        <input (keyup)="searchPlayers($event)" [(ngModel)]="searchInput" type="text" placeholder="search">

        <ul class="player-list">
          <li *ngFor="let player of searchedPlayers">
            <span class="assign-player" (click)="assignPick(currentTeamPicking, player)">{{ player.displayName }} - {{ player.position }} - {{ player.team }}</span>
          </li>
        </ul>
    </div>
</div>

